---
layout: default
---

<div class="left colorbars"></div><div class="right colorbars"></div>
<div class="about">
  <img class="portrait" src="https://i.imgur.com/gLMCmCC.png"><img class="landscape" src="https://i.imgur.com/IUbTM4G.png">
  <div class="wrap">
    <p class="aboutdesc">Hi! My name is Isabella Broch, and I'm an illustrator and multimedia designer in training. I currently offer commissions for character art. If you're interested, please contact me at: <i>nelizzy@hotmail.com</i>
    <br><br> I am always learning new things and expanding my skillset.
    <br><br>Contact me or see more work at:<br>
      <a href="https://github.com/artizzy/" title="Github"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/isabella-broch-760757161/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
      <a href="http://instagram.com/artizzyy" title="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://codepen.io/nelizzy/" title="Codepen"><i class="fab fa-codepen"></i></a>
    </p>
    <div class="read-more button"><span class="arrow down"></span></div>
  </div></div>

<div class="contain">
<div class="container">

  {% for block in site.data.artworkonline.art %}

<div>
  <img src="{{block.preview}}" class="clickme">
  <h3>{{block.title}}</h3>
  <div class="modal">
    <span class="circle exit"><span class="fas fa-times-circle exit"></span></span>
    <div class="modalcontent">
      <div class="containers">
        <div class="text immune" style="font-size:30px; text-align:center;">
        {{block.title}}
        </div>
      </div>

      {% for sect in block.content %}
      <div class="image containers"><img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" data-src="{{sect.image}}" class="lazy immune"></div>

      <div class="containers">
        <div class="text immune" style="margin-top:-21px;">
        {{sect.description}}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
  {% endfor %}

</div>

</div>
